:root{
  --side-color: #4cdce9;
  --present-color: #f1c0e8;
  --past-color: #d3d3d3;
  --future-color:#b9fbc0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Domine", sans-serif;
  color: #164e53;
  font-size: 16px;
  line-height: 1;
}

.display-3{
  font-family: "Satisfy", sans-serif;
  color: #164e53;

}
textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #0c0c0c;
  font-size: 18px;
  height: 100%;
  width: 100%;
  outline: none;
}

.jumbotron {
  margin-bottom: 0;
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.status-bar{
  font-style: italic;
  padding: 10px;
  display: none;
  text-align: center;
}

.description {
  white-space: pre-wrap;
}

#currentDay {
  width: 400px;
  margin: 0 auto;
}

.time-block {
  display: flex;
  flex-direction: row;
  height: 80px;
  width: 1000px;
  margin: 0 auto;
  border-bottom: 2px solid oldlace;
}

.hour {
  height: 100%;
  width: 80px;
  background-color: var(--side-color);
  color: rgb(7, 7, 7);
  text-align: center;
  padding: 30px;
}

.info-area {
  height: 100%;
  width: 800px;
}

.button-block {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100px;
  background-color: var(--side-color);
}

.past {
  background-color:  var(--past-color);
  color: white;
}

.present {
  background-color:var(--present-color);
  color: white;
}

.future {
  background-color: var(--future-color);
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

.button-block > button{
  border: none;
  background: transparent;
}

